Package: com.wge.keyboardfix
Name: WGEKeyboardFix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Fix keyboard shadow glitch after unlock.
Maintainer: YourName
Author: YourName
Section: Tweaks
